{% extends "main.html" %}
{% block title %}Users{% endblock %}
{% block content %}

<table class="table table-striped">
    <thead>
      <tr>
          <th scope="col">ID</th>
          <th scope="col">Username</th>
          <th scope="col">RATING</th>
          <th scope="col">ELO</th>
          <th scope="col">Game diff</th>
          <th scope="col">Game diff coef</th>
      </tr>
    </thead>

<tr>
        <td> {{user['id'] }}</td>
        <td> {{user['username']}}</td>
        <td> {{user['rating']}}</td>
        <td> {{user['played_games'] }} </td>
        <td> {{user['played_games'] }} </td>
</tr>

{% for opp in opponents %}
    <tr>
        <td> {{opp['id'] }}</td>
        <td> {{opp['username']}}</td>
        <td> {{opp['rating']}}</td>
        <td> {{opp['elo_diff'] }}</td>
        <td> {{opp['game_diff'] }}</td>
        <td> {{opp['game_diff_coef'] }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}