{% extends "main.html" %}
{% block title %}Users{% endblock %}
{% block content %}
<table class="table table-striped">
    <thead>
      <tr>
          <th scope="col"> Play Game</th>
          <th scope="col"> ID</th>
          <th scope="col">Username</th>
          <th scope="col">RATING</th>
          <th scope="col">Games</th>
      </tr>
    </thead>

    {% for user in users %}
    <tr>
        <td> <a class="btn btn-primary" href="new_game/{{user['id']  }}" role="button">Play</a> </td>
        <td> {{user['id'] }}</td>
        <td> {{user['username']}}</td>
        <td> {{user['rating']}}</td>
        <td> {{user['played_games']}}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}